<B>Unmesh Mulay</B>

NUMPY - 2 & PANDAS


Task 1:

1.
Given a sequence of n values x1, x2, ..., xn and a window size k>0, the k-th moving average of
the given sequence is defined as follows:

The moving average sequence has n-k+1 elements as shown below.

The moving averages with k=4 of a ten-value sequence (n=10) is shown below

i 1 2 3 4 5 6 7 8 9 10

===== == == == == == == == == == ==

Input 10 20 30 40 50 60 70 80 90 100

y1 25 = (10+20+30+40)/4

y2 35 = (20+30+40+50)/4

y3 45 = (30+40+50+60)/4

y4 55 = (40+50+60+70)/4

y5 65 = (50+60+70+80)/4

y6 75 = (60+70+80+90)/4

y7 85 = (70+80+90+100)/4


Thus, the moving average sequence has n-k+1=10-4+1=7 values.


Problem Statement:

Write a function to find moving average in an array over a window:

Test it over [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150] and window of 3.

In [2]:
# Unmesh Mulay 
# Assignment Numpy -2 and PANADAS Session
# Task 1 - Program 1 - Date 19th Jan 2019 

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

def moving_avg(x, k):
    out = np.array([])
    for i in np.arange(len(x)-(k-1)):
        val = sum(np.ones(k) * x[i:i+k]) / k
        out = np.append(out,val)
    return out

moving_avg(np.array([3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150]),3)

array([  5.        ,   4.66666667,   5.66666667,   6.66666667,
         9.66666667,  28.66666667,  49.33333333,  72.66666667,
        84.        ,  93.33333333, 116.33333333])

Task 2:

1.

How-to-count-distance-to-the-previous-zero

For each value, count the difference back to the previous zero (or the start of the Series,
whichever is closer)

create a new column 'Y'

Consider a DataFrame df where there is an integer column 'X'

import pandas as pd

df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [3]:
# Unmesh Mulay 
# Assignment Numpy -2 and PANADAS Session
# Task 2 - Program 1 - Date 19th Jan 2019 

def distPrevZero(arr, n): 
      
    out = [0 for i in range(n)] 
    if (arr[0] == 0): 
        out[0] = 0
    else: 
        out[0] = 10**9

    for i in range(1, n): 
  
        out[i] = out[i - 1] + 1
  
        if (arr[i] == 0): 
            out[i] = 0
    if (arr[n - 1] == 0): 
        out[n - 1] = 0
    for i in range(n - 2, -1, -1): 
        out[i] = min(out[i], out[i + 1] + 1) 
        if (arr[i] == 0): 
            out[i] = 0

    for i in out: 
        print(i, end = " ") 

distPrevZero([7, 2, 0, 3, 4, 2, 5, 0, 3, 4], 10)

2 1 0 1 2 2 1 0 1 2


2.

Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of
random numbers.

In [4]:
# Unmesh Mulay 
# Assignment Numpy -2 and PANADAS Session
# Task 2 - Program 2 - Date 19th Jan 2019 
df = pd.date_range(start='2015-01-01', end ='2015-12-31', freq = 'B')
s = pd.Series(np.random.rand(len(df)), index=df)   
print(s)

2015-01-01    0.120307
2015-01-02    0.719355
2015-01-05    0.168586
2015-01-06    0.614252
2015-01-07    0.372056
2015-01-08    0.977779
2015-01-09    0.611063
2015-01-12    0.246937
2015-01-13    0.630291
2015-01-14    0.176642
2015-01-15    0.528934
2015-01-16    0.045314
2015-01-19    0.372153
2015-01-20    0.208137
2015-01-21    0.570192
2015-01-22    0.697084
2015-01-23    0.216367
2015-01-26    0.536245
2015-01-27    0.968521
2015-01-28    0.092058
2015-01-29    0.484678
2015-01-30    0.712553
2015-02-02    0.743580
2015-02-03    0.157331
2015-02-04    0.765186
2015-02-05    0.132067
2015-02-06    0.439032
2015-02-09    0.648303
2015-02-10    0.058862
2015-02-11    0.219018
                ...
2015-11-20    0.329583
2015-11-23    0.054872
2015-11-24    0.084942
2015-11-25    0.830536
2015-11-26    0.791415
2015-11-27    0.002326
2015-11-30    0.032337
2015-12-01    0.974709
2015-12-02    0.364039
2015-12-03    0.637807
2015-12-04    0.362504
2015-12-07    0.964252
2015-12-08    0.941893
2015-12-09    0.887989
2015-12-10    0.687000
2015-12-11    0.546628
2015-12-14    0.745158
2015-12-15    0.238623
2015-12-16    0.546449
2015-12-17    0.006655
2015-12-18    0.860961
2015-12-21    0.514620
2015-12-22    0.411714
2015-12-23    0.700375
2015-12-24    0.860197
2015-12-25    0.037433
2015-12-28    0.425760
2015-12-29    0.585515
2015-12-30    0.810136
2015-12-31    0.696419
Freq: B, Length: 261, dtype: float64


3.

Find the sum of the values in s for every Wednesday

In [5]:
# Unmesh Mulay 
# Assignment Numpy -2 and PANADAS Session
# Task 2 - Program 3 - Date 19th Jan 2019 

s[df.weekday==2].sum()

25.15206368793308


4.

Average For each calendar month

In [6]:
# Unmesh Mulay 
# Assignment Numpy -2 and PANADAS Session
# Task 2 - Program 4 - Date 19th Jan 2019 

s.resample('M').mean()

2015-01-31    0.457705
2015-02-28    0.486253
2015-03-31    0.535798
2015-04-30    0.543801
2015-05-31    0.488848
2015-06-30    0.519213
2015-07-31    0.367005
2015-08-31    0.668763
2015-09-30    0.531201
2015-10-31    0.509527
2015-11-30    0.469634
2015-12-31    0.600297
Freq: M, dtype: float64


5.

For each group of four consecutive calendar months in s, find the date on which the highest
value occurred.

In [7]:
# Unmesh Mulay 
# Assignment Numpy -2 and PANADAS Session
# Task 2 - Program 5 - Date 19th Jan 2019 

s.groupby(pd.Grouper(freq ='4M')).idxmax()

2015-01-31   2015-01-08
2015-05-31   2015-04-15
2015-09-30   2015-08-06
2016-01-31   2015-12-01
dtype: datetime64[ns]